h1 {
    color: orange;
    font-style: italic;
  }

  li {
    color: blue;
    padding-top: 3px;
    font-size: 15px;
  }

  .person {
    color: blue;
    padding-top: 5px;
    font-size: 15px;
  }

  .popupSuccees {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .popupError {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
